# Node.js
node_modules/

# Log files
*.log

# Environment variables
.env

# npm and Yarn debug logs
npm-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor settings
.idea/
.vscode/
